*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
}

.red{
  color: red;
}

.underline{
  text-decoration: underline;
}

.logo{
  height: 90vh;
}

img{
  height: 100%;
}